* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f1e5;
    color: #222;
    padding: 0 20px;
}

header {
    text-align: center;
    background-color: #420700;
    padding: 2em 0;
    margin-bottom: 1em;
    border-bottom: 10px solid #921911;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

header h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: white;
}

header p {
    font-size: 1.2em;
    font-weight: 300;
    color: #f9d3c2;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.product {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    width: 280px;
    text-align: center;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    max-width: 220px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(1.05);
}

.product p {
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #222;
    text-transform: capitalize;
}

button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 12px;
    background-color: #f61c03;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}


button:hover {
    background-color: #1e1d1d;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #8e2c25;
    color: white;
    margin-top: 40px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 1em;
}
